@model FullbarDigital.Models.TbAluno

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Nome</dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>RA</dt>
        <dd>
            @Html.DisplayFor(model => model.Ra)
        </dd>
        <dt>Curso</dt>
        <dd>
            @Html.DisplayFor(model => model.IdCursoNavigation.Curso)
        </dd>
        <dt>Perido</dt>
        <dd>
            @Html.DisplayFor(model => model.IdPeriodoNavigation.Periodo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdAluno" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-default">Voltar</a>
</div>
