@{
    ViewData["Title"] = "Editar Aluno";
    ViewData["Page"] = "Edit";
}
@model AlunoViewModel

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Editar Aluno - <strong>@Model.Aluno.Nome</strong></h3>
    </div>

    <!-- Striped Table -->
    <!--===================================================-->
    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                @using (var form = Html.BeginForm("Edit", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                        @Html.HiddenFor(x => x.Aluno.idAluno)
                    <div class="panel panel-default">
                        <div class="panel-footer">
                            <div class="clearfix">
                                <div class="pull-left">
                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                    <a type="button" class="btn btn-default" href="@Url.Action("Index", "Home")">Cancelar</a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            @if (!String.IsNullOrEmpty(Model.Erro))
                            {
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group col-md-12">
                                            <div class="panel panel-danger">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">Erro</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <p>@Html.Raw(Model.Erro)</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group col-md-12">
                                        <label>Nome</label>
                                        @Html.TextBoxFor(x => x.Aluno.Nome, new { @class = "form-control", placeholder = "ex: João da Silva", maxlength = "100" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group col-md-12">
                                        <label>RA</label>
                                        @Html.TextBoxFor(x => x.Aluno.RA, new { @class = "form-control", placeholder = "ex: 12345", maxlength = "20" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group col-md-12">
                                        <label>Cursos</label>
                                        @Html.DropDownListFor(x => x.Aluno.idCurso, Model.Cursos, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group col-md-12">
                                        <label>Períodos</label>
                                        @Html.DropDownListFor(x => x.Aluno.idPeriodo, Model.Periodos, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>